/*
	FIXME: Andrebbe uniformato lo stile dei bottoni e cancellata sta cagata
*/
#SolutionsZipButton, #NotAcceptedEmailButton {
	padding: 7px;
	font-size: large;
	margin: 10px 0px;
}

#NotAcceptedEmailButton {
	float:right;
	margin-right: 10%;
}

#NotAcceptedEmailDiv {
	margin-top: 50px;
	margin-left: 7%;
}

#NotAcceptedEmailTextarea {
	display: block;
	width: 80%;
	height: 100px;
	margin: 20px auto 5px auto;
	padding: 5px;
}
