.AjaxSelectContainer {
	width: 10em;
}

.AjaxSelectText {
	border-width:1px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.AjaxSelectValue {
	display: none;
}

.AjaxSelectOptionsDiv {
	background-color: white;
	border-top: 0px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
	position: absolute;
	max-height: 200px;
	white-space: nowrap; /* Options on one line */
	
	
	overflow-x: hidden;
	overflow-y: auto; /* This might cover the content with the scrollbar */
}

.AjaxSelectOption {
	font-size: 0.8em;
	border-bottom: 1px solid #ECF3FA;
	padding: 1px;
}

.AjaxSelectOption:hover {
	cursor: pointer;
	background-color: aliceblue;
	color:#000066;
}
