.AjaxSelectContainer {
	width: 10em;
}

.AjaxSelectText {
	width: 100%;
}

.AjaxSelectValue {
	display: none;
}

/* Styles about the div containing all options */
.AjaxSelectOptionsDiv {
	background-color: white;
	border-bottom-right-radius:5px;
	border-left: 1px solid gray;
	box-sizing: border-box;
	
	position: absolute;
	max-height: 200px;
	white-space: nowrap; /* Options on one line */
	
	min-width: 10em;
	
	overflow-x: hidden;
	overflow-y: auto; /* This might cover the content with the scrollbar */
}

/* Styles about the single option div */
.AjaxSelectOption {
	font-size: 0.8em;
	border-bottom: 1px solid #ECF3FA;
	padding: 2px 4px 2px 3px;
	
	background: #ffffff;
	background: linear-gradient(to right,  #ffffff 0%,#ededed 100%);
}

.AjaxSelectOption:hover {
	cursor: pointer;
	color:#000066;
	
	background: #ffffff;
	background: linear-gradient(to right,  #ffffff 0%,#f0f8ff 100%);
}

/*
	Feedback about the option selected
*/
input.AjaxSelectTextGood {
	border-color: green!important;
}

input.AjaxSelectTextBad {
	border-color: red!important;
}
