.AjaxSelectContainer {
	width: 10em;
}

.AjaxSelectText {
	border: 2px solid #ccc;
	border-radius: 4px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.AjaxSelectValue {
	display: none;
}

.AjaxSelectOptionsDiv {
	background-color: white;
	border-top: 0px;
	border-radius:5px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
	position: absolute;
	max-height: 200px;
	white-space: nowrap; /* Options on one line */
	
	
	overflow-x: hidden;
	overflow-y: auto; /* This might cover the content with the scrollbar */
}

.AjaxSelectOption {
	font-size: 0.8em;
	border-bottom: 1px solid #ECF3FA;
	padding: 2px 4px 2px 3px;
}

.AjaxSelectOption:hover {
	cursor: pointer;
	background-color: aliceblue;
	color:#000066;
}

/*
	Feedback about the option selected
*/
.AjaxSelectOptionGood {
	border-color: green;
}

.AjaxSelectOptionBad {
	border-color: red;
}
