div.internalBody {
    width: 80%;
    background: white;
    margin: 0 auto;
    border-left: solid 1px black;
    border-right:solid 1px black;
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    min-height: 100%;
}

#ContentContainer {
	margin: 35px 5% 80px 5%;
}

html,body {
	min-height:100%;
}

body {
	background: #F6F4F0;
	margin: 0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.pageTitle {
	font-size: 2em;
	padding-left: 5%;
}


.pageSubtitle {
	font-size: 1.5em;
	padding-left: 7%;
}


/*
	TableLink css
*/

.TableLink {
	margin: 40px 0px 20px 0px;
	font-size: 1.3em;
	margin-left: 7%;
}

.TableLink td {
	padding: 10px;
}

.TableLink .trlink:hover {
	cursor:pointer;
	color: green;
}

.emptyTable {
/*
	DEBUG
*/
}

div.formContainer form {
	margin-left: 8%;
}

div.formContainer form table td {
	padding: 0px 5px;
}

thead, tbody {
	color: #039;
}


/*
	Buttons
*/

.buttonImage {
	width: 22px;
	height: 22px;
}

.buttonImage:hover {
	cursor: pointer;
}

.buttonContainer {
	width: 22px;
	height: 22px;
}

.buttons_title {
	margin-left:3%;
}

.hiddenButtonContainer {
	display: none;
}

/*
	General Information
*/


.generalInformation {
	font-size:1.5em;
	padding-left:6%;
}

.generalInformation .adminInformation {
	color: #993399;
}

.correctionsCompleted {
	font-style:italic;
	color:red;
}

.correctionsInProgress {
	font-style:italic;
	color:#33CC33;
}
