/*
	General styles
*/

html,body {
	min-height:100%;
}

body {
	background: #F6F4F0 url('../Images/BackgroundTexture.png') repeat top left;
	margin: 0px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Sans-Serif';
}

/* To avoid yellow background in autocompleted input in chrome. */
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

select {
	font: inherit;
}

button {
	font-weight:bold;
}

/*
	Page structure
*/

div.internalBody {
    width: 80%;
    background: white;
    margin: 0 auto;
    border-left: solid 1px gray;
    border-right:solid 1px gray;
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    min-height: 100%;
}

#ContentContainer {
	margin: 35px 5% 80px 5%;
}

.PageTitle {
	font-size: 2em;
	padding-left: 5%;
}


.PageSubtitle {
	font-size: 1.5em;
	padding-left: 7%;
}

.hidden {
	display: none;
}

.CursorPointer {
	cursor: pointer;
}

.CursorWait, .CursorWait * {
	cursor: wait !important;
}

/*
	LinkTable css
*/

.LinkTable {
	margin: 40px 0px 20px 0px;
	font-size: 1.3em;
	margin-left: 7%;
}

.LinkTable td {
	padding: 5px 0px;
}

.LinkTable a {
	padding: 5px 30px 5px 5px;
	border-radius: 0px 10px 10px 0px;
	border: 1px solid #039;
	color: #039;
	font-weight: bold;
	display: block;
	text-decoration: none;
}
.LinkTable a:hover {
	background-color: aliceblue;
	color: #000066;
}

/*
	Form table css
*/

div.FormContainer td {
	padding: 0px 5px;
}

div.FormContainer table {
	margin: 0 auto; /* Centering horizontally */
	
	background-color: #F3F3F3;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
}

.FormContainer input:not([type='submit']):not([type='button']) {
	background-color: white;
	color: black;

	border: 1px solid #ccc;
	box-sizing: border-box;
	outline: 0px;
	
	margin: 0px;
}

.FormContainer input:not([type='submit']):not([type='button']):focus {
	border-color: gray;
}

.FormContainer input[type='button'], .FormContainer input[type='submit'] {
	font-weight:bold;
/*
	border-radius:3px;
*/
}

.FormContainer input[type='button']:hover, .FormContainer input[type='submit']:hover{
/*
	background-color:white;
*/
/*
	border-color: gray;
*/
}

/*
	Buttons
*/

.ButtonImage {
	width: 22px;
	height: 22px;
}

.ButtonImage:hover {
	cursor: pointer;
}

.ButtonContainer {
	width: 22px;
	height: 22px;
}

.ButtonsTitle {
	margin-left:3%;
}

.ButtonsSubtitle {
	margin-left:3%;
}

/*
	General Information
*/


.GeneralInformation {
	font-size:1.5em;
	padding-left:6%;
}

.GeneralInformation .UserRole {
	color: #993399;
}

.CorrectionsCompleted {
	font-style:italic;
	color:#33CC33;
}

.CorrectionsInProgress {
	font-style:italic;
	color:gray;
}

/*
	Content editable element
*/


.ContentEditable {
	border: 1px solid #A8A8A8;
	border-radius: 3px;
	background-color: white;
	min-height: 1em;
/*
	box-sizing: border-box;
	padding: 0px 5px;
*/
}
