/*
	Table .InformationTable css
*/

.InformationTable {
	border-collapse: collapse;
	margin: 40px 0px 20px 0px;
	font-size: 15px;
	text-align: left;
	vertical-align:baseline;
	width: 100%;
}

table.InformationTable thead, tbody {
	color: #039;
}

table.InformationTable th {
	border-bottom: 2px solid #6678b1;
	padding: 5px 5px;
}

table.InformationTable td {
	border-bottom: 1px solid #ECF3FA;
	padding: 5px 5px;
}

table.InformationTable .trlink:hover {
	cursor:pointer;
}

table.InformationTable tbody tr:hover {
	background-color: aliceblue;
	color:#000066;
}

/*
	Modify button
*/

table.InformationTable .modifyButtonImage {
	width: 22px;
	height: 22px;
}

table.InformationTable .modifyButtonContainer {
	width: 22px;
	heigth: 22px;
}

table.InformationTable .modifyButtonContainer:hover {
	cursor: pointer;
}

table.InformationTable .modifyColumn {
	width:25px;
}

table.InformationTable td.modifyColumn {
	border-bottom: 1px #6678b1;
	padding: 5px 5px;
}

table.InformationTable th.modifyColumn {
	border-bottom: 2px #6678b1;
	padding: 5px 5px;
}



/*
	Columns' widths
*/


table.InformationTable .problemColumn {
	min-width: 100px;
}

table.InformationTable .markColumn {
	width: 5%;
}

table.InformationTable .commentColumn {
	width: 50%;
}

table.InformationTable .userColumn {
	min-width: 100px;
}

table.InformationTable .nameColumn {
	min-width: 100px;
}

table.InformationTable .surnameColumn {
	min-width: 100px;
}

table.InformationTable .contestColumn {
	min-width: 200px;
}

table.InformationTable .dateColumn {
	min-width: 50px;
}

/*
	OnModification
*/

table.InformationTable .modifyTextareaComment {
	width: 100%;
	heigth: 100%;
}
