/*
	Table .InformationTable css
*/

.InformationTable {
	border-collapse: collapse;
	margin: 40px 0px 20px 0px;
	font-size: 15px;
	text-align: left;
	vertical-align:baseline;
	width: 100%;
}

table.InformationTable th {
	border-bottom: 2px solid #6678b1;
	padding: 5px 5px;
}

table.InformationTable td {
	border-bottom: 1px solid #ECF3FA;
	padding: 5px 5px;
}

table.InformationTable .trlink:hover {
	cursor:pointer;
}

table.InformationTable tbody tr:hover {
	background-color: aliceblue;
	color:#000066;
}

/*
	Modify and cancel button border-button
*/

table.InformationTable td.modifyColumn, table.InformationTable td.cancelColumn {
	border-bottom: 1px #6678b1;
	padding: 5px 5px;
}

table.InformationTable th.modifyColumn, table.InformationTable th.cancelColumn {
	border-bottom: 2px #6678b1;
	padding: 5px 5px;
}

/*
	Button images
*/

table.InformationTable .buttonImage {
	width: 22px;
	height: 22px;
}

table.InformationTable .buttonImage:hover {
	cursor: pointer;
}

table.InformationTable .buttonContainer {
	width: 22px;
	height: 22px;
}



/*
	Columns' widths
*/


table.InformationTable .problemColumn {
	min-width: 100px;
}

table.InformationTable .markColumn {
	width: 5%;
}

table.InformationTable .commentColumn {
	width: 50%;
}

table.InformationTable .userColumn {
	min-width: 100px;
}

table.InformationTable .nameColumn {
	min-width: 100px;
}

table.InformationTable .surnameColumn {
	min-width: 100px;
}

table.InformationTable .contestColumn {
	min-width: 200px;
}

table.InformationTable .dateColumn {
	min-width: 50px;
}

table.InformationTable .cancelColumn {
	width:25px;
}

table.InformationTable .modifyColumn {
	width:25px;
}

table.InformationTable .blocked {
	font-style: italic;
	color: red;
	float: right;
	margin-right: 10%;
}

/*
	OnModification
*/

table.InformationTable .modifyComment {
	width: 100%;
	height: 100%;
	min-height: 1em;
	color: black;
	border: 1px solid #A8A8A8;
	border-radius: 3px;
	background-color: white;
}

/*
	On creation
*/

table.InformationTable .new_row {
	background-color: #CCFFCC;
}

table.InformationTable .new_row:hover {
	background-color: #CCFFCC;
}
