/*
	Table .InformationTable css
*/

.InformationTable {
	border-collapse: collapse;
	margin: 40px 0px 20px 0px;
	font-size: 15px;
	text-align: left;
	vertical-align:baseline;
	width: 100%;
}

table.InformationTable > tbody > tr {
	height: 35px;
}

table.InformationTable th {
	border-bottom: 2px solid #6678b1;
	padding: 5px 5px;
}

table.InformationTable td {
	border-bottom: 1px solid #ECF3FA;
	padding: 5px 5px;
}

table.InformationTable .trlink:hover {
	cursor:pointer;
}

table.InformationTable tbody tr:hover {
	background-color: aliceblue;
	color:#000066;
}

/*
	Modify and cancel button border-button
*/


table.InformationTable th.ButtonsTh {
	border-bottom: 2px #6678b1;
}

table.InformationTable td.ButtonsTd {
	border-bottom: 1px #ECF3FA;
	width: 50px;
}


/*
	Columns' widths
*/


/*
table.InformationTable .ProblemColumn {
	min-width: 100px;
}
*/

table.InformationTable .CommentColumn {
	width: 50%;
}

/*
table.InformationTable .UsernameColumn {
	min-width: 100px;
}

table.InformationTable .NameColumn {
	min-width: 100px;
}
*/

/*
table.InformationTable .SurnameColumn {
	min-width: 100px;
}

table.InformationTable .SurnameAndNameColumn {
	min-width: 7em;
	max-width: 11em;
}

table.InformationTable .ContestColumn {
	min-width: 200px;
}

table.InformationTable .DateColumn {
	min-width: 50px;
}

table.InformationTable .SchoolColumn {
	min-width: 100px;
}
*/

/*
	Particular columns styles
*/

table.InformationTable .MarkColumn {
	text-align: center;
}

/*
	OnModification
*/

table.InformationTable .ContentEditable {
	width: 100%;
	height: 100%;
}

/*
	On creation
*/

table.InformationTable .NewRow {
	background-color: #CCFFCC;
}

table.InformationTable .NewRow:hover {
	background-color: #CCFFCC;
}

/*
	Admin rows
*/

.NoTrashButton .TrashButtonImage {
	display: none;
}

/*
  Th with ordering (and order icon)
*/

th.ColumnWithOrder:hover {
	cursor:pointer
}

table.InformationTable .SortColumnImage {
	width: 10px;
	height: 10px;
	margin-left: 3px;
}
