div.ParticipationRequestDiv {
	margin: 15px 0px;
}

/*
	FormContainer improvement
*/
div.FormContainer table {
	min-width: 600px;
	margin: 10px auto; 
}

div.FormContainer td {
	padding: 10px;
}

div.FormContainer input {
	display: block;
	margin: 0px auto !important;
	width: 100%
}

div.FormContainer input:not([type='submit']):not([type='button']) {
	padding: 5px;
	border-radius:5px;
}

div.FormContainer input[type='submit'] {
	padding: 5px;
}

/*
	Transition
*/
body {
	overflow-x:hidden
}

#BigFormParentContainer {
	position: relative;
}

div.BigFormContainer {
	transition: opacity 1s, left 1s;
	position: absolute;
	top: 0px;
	width: 100%;
}

div.BeforeForm {
	opacity: 0;
	left: -2000px;
}

div.ShowingForm {
	opacity: 1;
	left: 0px;
}

div.AfterForm {
	opacity: 0;
	left: 2000px;
}

/*
	BigForm style
*/
form.BigForm {
	margin-top: 10px;
	padding: 5px;
}

form.BigForm fieldset {
	margin: 15px 0px;
	padding: 10px 20px;
	background-color: #F3F3F3;
	border-radius: 5px;
	border: 1px solid forestgreen;
}

form.BigForm legend {
	color: forestgreen;
	font-weight: bold;
}

form.BigForm label {
	font-family: monospace;
	font-size: 115%;
}

form.BigForm td {
	padding: 3px 2px;
}

form.BigForm tr td:first-child {
	width: 13em;
}


form.BigForm tr td:nth-child(2) {
	width: 15em;
}

form.BigForm tr td:nth-child(3) {
	font-style: italic;
	font-size: 80%;
	padding-left: 1em;
}

form.BigForm input[type='submit'] {
	width: 100%;
	padding: 10px;
	font-weight: bold;
}

form.BigForm input:not([type='submit']):not([type='button']) {
	padding: 5px;
	border-radius:5px;
	width: 100%;
	box-sizing: border-box;
}

form.BigForm select {
	padding: 4px;
	width: 100%;
}
