div#MessageList {
	position: fixed;
	top: 50px;
	right: 10px;
	margin-right: 5%;
	width: 25%;
}

.bad_Message, .good_Message {
	margin: 3px;
	padding: 3px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
}

.bad_Message {
	background-color: rgba(255,0,0,0.7);
	color: white;
}

.good_Message {
	background-color: rgba(0,255,0,0.7);
	color: black;
}
