div#MessageList {
	position: fixed;
	top: 50px;
	right: 10px;
	margin-right: 5%;
	width: 25%;
}

.BadMessage, .GoodMessage {
	margin: 3px;
	padding: 3px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
}

.BadMessage {
	background-color: rgba(255,0,0,0.7);
	color: white;
}

.GoodMessage {
	background-color: rgba(0,255,0,0.7);
	color: black;
}
