<span class='DateInputContainer'>
<input type='hidden' name='date' id='date_DateInput'>
<select id='day_DateInput' onchange='RecalculateDate()'></select>
<select id='month_DateInput' onchange='RecalculateDate()'></select>
<select id='year_DateInput' onchange='RecalculateDate()'></select>

<script type='text/javascript'>
	var day=document.getElementById('day_DateInput');
	var month=document.getElementById('month_DateInput');
	var year=document.getElementById('year_DateInput');
	var date=document.getElementById('date_DateInput');
	var MonthDays=[0,31,28,31,30,31,30,31,31,30,31,30,31];
	var MonthsNames=['','gennaio','febbraio','marzo','aprile','maggio','giugno','luglio','agosto','settembre','ottobre','novembre','dicembre'];
	
	var FirstYear=2000;
	var LastYear =2020;
	
	function RecalculateDate() {
		date.value=year.value+'-'+month.value+'-'+day.value;
		UpdateDaysNumber();
		SetDate(date.value);
	}
	
	function ParseDate(DateString) {
		var parts = DateString.split('-');
		var yearX=parseInt(parts[0]);
		var monthX=parseInt(parts[1]);
		var dayX=parseInt(parts[2]);
		return {day:dayX, month:monthX, year:yearX};
	}
	
	function GenerateItalianDate( DateString ) {
		var DateObj=ParseDate(DateString);
		return DateObj.day+' '+MonthsNames[DateObj.month]+' '+DateObj.year;
	}
	
	function SetDate( DateString ) {
		var DateObj=ParseDate(DateString);
		if (MonthDays[DateObj.month]>=DateObj.day) day.selectedIndex=DateObj.day-1;
		else day.selectIndex=0;
		month.selectedIndex=DateObj.month-1;
		year.selectedIndex=DateObj.year-FirstYear;
	}
	
	
	function UpdateDaysNumber () { //Attualmente non viene chiamato per questioni di funzionamento
		day.innerHTML='';
		var num=MonthDays[parseInt(month.value)];
		if (parseInt(month.value)==2 && parseInt(year.value)%4==0) num++;
		for(var i=1;i<=num;i++) {
			var OptionItem=document.createElement('option');
			var DayNumber=i.toString();
			if(DayNumber.length==1)DayNumber='0'+DayNumber;
			OptionItem.value=DayNumber;
			OptionItem.innerHTML=i.toString();
			day.appendChild(OptionItem);
		}
	}
	
	year.innerHTML='';
	for(var i=FirstYear;i<=LastYear;i++) {
		var OptionItem=document.createElement('option');
		OptionItem.value=i.toString();
		OptionItem.innerHTML=i.toString();
		year.appendChild(OptionItem);
	}
	
	month.innerHTML='';
	for(var i=1;i<=12;i++) {
		var OptionItem=document.createElement('option');
		var MonthNumber=i.toString();
		if(MonthNumber.length==1)MonthNumber='0'+MonthNumber;
		OptionItem.value=MonthNumber;
		OptionItem.innerHTML=MonthsNames[i];
		month.appendChild(OptionItem);
	}
	UpdateDaysNumber();
	RecalculateDate();
</script>
</span>
