<span class='DateInputContainer'>
<input type='hidden' name='date' id='date_DateInput'>
<select id='day_DateInput' onchange='RecalculateDate()'></select>
<select id='month_DateInput' onchange='RecalculateDate()'></select>
<select id='year_DateInput' onchange='RecalculateDate()'></select>

<script type='text/javascript'>
	var day=document.getElementById('day_DateInput');
	var month=document.getElementById('month_DateInput');
	var year=document.getElementById('year_DateInput');
	var date=document.getElementById('date_DateInput');
	
	var FirstYear=2000;
	var LastYear =2020;
	
	function RecalculateDate() {
		date.value=year.value+'-'+month.value+'-'+day.value;
		UpdateDaysNumber();
		SetDate(date.value);
	}
	
	function SetDate( DateString ) {
		var DateObj=ParseDate(DateString);
		if (MonthDaysNumber[DateObj.month]>=DateObj.day) day.selectedIndex=DateObj.day-1;
		else day.selectIndex=0;
		month.selectedIndex=DateObj.month-1;
		year.selectedIndex=DateObj.year-FirstYear;
	}
	
	
	function UpdateDaysNumber () {
		day.innerHTML='';
		var num=MonthDaysNumber[parseInt(month.value)];
		if (parseInt(month.value)==2 && parseInt(year.value)%4==0) num++;
		for(var i=1;i<=num;i++) {
			var OptionItem=document.createElement('option');
			var DayNumber=i.toString();
			if(DayNumber.length==1)DayNumber='0'+DayNumber;
			OptionItem.value=DayNumber;
			OptionItem.innerHTML=i.toString();
			day.appendChild(OptionItem);
		}
	}
	
	year.innerHTML='';
	for(var i=FirstYear;i<=LastYear;i++) {
		var OptionItem=document.createElement('option');
		OptionItem.value=i.toString();
		OptionItem.innerHTML=i.toString();
		year.appendChild(OptionItem);
	}
	
	month.innerHTML='';
	for(var i=1;i<=12;i++) {
		var OptionItem=document.createElement('option');
		var MonthNumber=i.toString();
		if(MonthNumber.length==1)MonthNumber='0'+MonthNumber;
		OptionItem.value=MonthNumber;
		OptionItem.innerHTML=MonthName[i];
		month.appendChild(OptionItem);
	}
	UpdateDaysNumber();
	RecalculateDate();
</script>
</span>
