div.internalBody {
    width: 80%;
    background: white;
    margin: 0 auto;
    border-left: solid 1px black;
    border-right:solid 1px black;
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    min-height: 100%;
}

#ContentContainer {
	margin: 35px 5% 20px 5%;
}

html,body {
	min-height:100%;
}

body {
	background: #F6F4F0;
	margin: 0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.pageTitle {
	font-size: 2em;
	padding-left: 5%;
}


.pageSubtitle {
	font-size: 1.5em;
	padding-left: 7%;
}

.TableLink {
	font-size: 1.3em;
/*
	DEBUG
*/
}

.TableLink td {
	padding: 10px;
}

.TableLink .trlink:hover {
	cursor:pointer;
	color: green;
}

.emptyTable {
/*
	DEBUG
*/
}
