#upperBar {
    background: aliceblue;
    border: none;
    float: right;
    position: fixed;
    height: 30;
    right: 0;
    left: 0;
    vertical-align: middle;
    margin-bottom: 0;
    z-index: 1000;
    display: block;
    top: 0;
}

#innerBar {
    margin: 0 auto;
    width: 80%;
    padding: 6px 12px;
}

#logout {
	float: right;
}
