div#MainBar_container {
	display: table;
	border: none;
	position: fixed;
	height: 35px;
	right: 0;
	left: 0;
	z-index: 1000;
	top: 0;
	width: 100%;
	background: aliceblue;
}

div#MainBar_floater {
	display: table-cell;
	vertical-align: middle;
}

div#MainBar_inner {
	margin-left: auto;
	margin-right:auto;
	width: 80%;
	overflow: hidden;
}

div#MainBar_inner #logout {
	float: right;
}

div#MainBar_inner #UserNameLink {
	text-decoration: none;
	font-weight: bold;
	float: left;
}
